# global env
.env

# primarily for prettier cache
node_modules/

# ollama llm model data. includes api keys and large metadata files not useful to repo
ollama_data/

# personal development tracking. not useful to repo
plan/