fastapi
uvicorn
confluent-kafka
sentence-transformers
faiss-cpu
httpx
langchain
langchain-core
langchain-community
langchain-ollama
pydantic
duckduckgo-search
ddgs
beautifulsoup4
playwright
sqlalchemy
asyncpg